body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: plum;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:palevioletred;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bio h1, #education h1, #skills h1, #hobbies h1 {
    border-bottom: 2px solid plum;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ol {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: plum;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
